<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wheel2.png</key>
			<dict>
				<key>width</key>
				<integer>504</integer>
				<key>height</key>
				<integer>504</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>504</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>wheel1.png</key>
			<dict>
				<key>width</key>
				<integer>504</integer>
				<key>height</key>
				<integer>504</integer>
				<key>originalWidth</key>
				<integer>504</integer>
				<key>originalHeight</key>
				<integer>504</integer>
				<key>x</key>
				<integer>506</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>carpart4.png</key>
			<dict>
				<key>width</key>
				<integer>1865</integer>
				<key>height</key>
				<integer>359</integer>
				<key>originalWidth</key>
				<integer>1865</integer>
				<key>originalHeight</key>
				<integer>359</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>506</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>carpart2.png</key>
			<dict>
				<key>width</key>
				<integer>1040</integer>
				<key>height</key>
				<integer>923</integer>
				<key>originalWidth</key>
				<integer>1040</integer>
				<key>originalHeight</key>
				<integer>923</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>867</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>carpart1.png</key>
			<dict>
				<key>width</key>
				<integer>720</integer>
				<key>height</key>
				<integer>845</integer>
				<key>originalWidth</key>
				<integer>720</integer>
				<key>originalHeight</key>
				<integer>845</integer>
				<key>x</key>
				<integer>1042</integer>
				<key>y</key>
				<integer>867</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>BeastCaptureMobile0.png</string>
			<key>realTextureFileName</key>
			<string>BeastCaptureMobile0.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>