<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>you_shou.png</key>
			<dict>
				<key>width</key>
				<integer>411</integer>
				<key>height</key>
				<integer>414</integer>
				<key>originalWidth</key>
				<integer>411</integer>
				<key>originalHeight</key>
				<integer>414</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>nao_dai.png</key>
			<dict>
				<key>width</key>
				<integer>608</integer>
				<key>height</key>
				<integer>573</integer>
				<key>originalWidth</key>
				<integer>608</integer>
				<key>originalHeight</key>
				<integer>573</integer>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xi_gai.png</key>
			<dict>
				<key>width</key>
				<integer>174</integer>
				<key>height</key>
				<integer>176</integer>
				<key>originalWidth</key>
				<integer>174</integer>
				<key>originalHeight</key>
				<integer>176</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jiao.png</key>
			<dict>
				<key>width</key>
				<integer>104</integer>
				<key>height</key>
				<integer>134</integer>
				<key>originalWidth</key>
				<integer>104</integer>
				<key>originalHeight</key>
				<integer>134</integer>
				<key>x</key>
				<integer>176</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>xiao_tui.png</key>
			<dict>
				<key>width</key>
				<integer>234</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>234</integer>
				<key>originalHeight</key>
				<integer>161</integer>
				<key>x</key>
				<integer>282</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>da_tui.png</key>
			<dict>
				<key>width</key>
				<integer>357</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>357</integer>
				<key>originalHeight</key>
				<integer>193</integer>
				<key>x</key>
				<integer>518</integer>
				<key>y</key>
				<integer>575</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>GUAIWUuuuuu0.png</string>
			<key>realTextureFileName</key>
			<string>GUAIWUuuuuu0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>